node_modules/
dist/*
!dist/ModernLightsDashboard.groovy
!dist/packageManifest.json
!dist/drivers/
dist/drivers/*
!dist/drivers/mDashNotifications.groovy
!dist/upload/
dist/upload/*
!dist/upload/mld-*
.DS_Store
*.log
